.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

/* hr {
  width: 2px;
} */

ul {
  margin: 0;
  text-align: left;
  line-height: 1.4;
  padding-left: 20px;
}
